
#ushianime{
    display: flex;
    justify-content: center;
}

#mainlogo{
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#ushianime img{

    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#nezumianime img{

   width: 100px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
#hitoanime img{
    
    width: 100px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}


